/* -----Variables----=- */
:root {
    --clr1: #22252c;
    --clr2: #383b42;
    --clr3: #5970c1;
    --clr4: #ffffff;
    --clr5: #21ac91;
    --clr6: #fefefe;
    --clr7: #22252c;
    --clr8: #939393;
    --clr9: #ebeef3;
    --clr10: #ebeef3;
    --clr11: #ebeef327;
    --clr12: #3d3d3d;
    --clr13: #1e7cd3;
    --clr14: #8f44bb;
    --clr15: #19a59f;

    --s: 600px;
    --m: 890px;
    --w: 1060px; 
}

/* TYPOGRAPHY */
@font-face {
    font-family: poppins-medium;
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

/* ------BASIC------  */

/* BASE  */

* {
    margin: 0;
    box-sizing: border-box;
}
h1 {
    color:pink;
}
body {
    padding: 20px;
    background-color: var(--clr1);
}
canvas {
    outline: 3px solid;
}
header {
    margin-bottom: 20px;
}
a {
    text-decoration: none;
}


/* ------LAYOUT------ */


/* HELPERS  */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex .space-between {
    justify-content: space-between;
}

.flex .center {
    align-items: center;
}

/* ------COMPONENTS------ */

.item {
    min-height: 100%;
    min-width: 100%;
    background-color: brown;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    cursor: pointer;
}

.container {
    max-width: 980px;
    height: 80vh;
}

.images-wrapper { 
    height: 100%; 

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    gap: 30px;
    grid-auto-flow: row;
}


.canvas-container {
    
    outline: 3px;
    width: 510px;
    height: 510px;
    background-color: #fefefe;
    outline-color: var(--clr8);
    position: relative;
    margin-inline-end: 90px;
    
}

.canvas-container .meme-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}


.meme-editor{
    display: none;
    padding-left: 90px;
    padding-right: 90px;
}

.editor-container {
    display: flex;
}

.editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr11);
    border-radius: 30px;
    width: 525px;
    padding: 24px;
    
}

.editor .txt-edit {
    width: 445px;
    height: 57px;
    font-size: 1.5625rem;
    font-family: poppins-medium;
    text-align: center;
    border-radius: 28px;
    background-color: var(--clr10);
    color: var(--clr12)

}

.btn {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
}
.item2 {
    display: flex;
    justify-content: space-between;
    width: 220px;
    
}
.item3 {
    background-color: var(--clr15);
    border-radius: 15px;
    padding: 17px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    gap: 5px;
    grid-auto-flow: row;
}

.txt-font {
    grid-area: 2 / span 3 ;
    width: 236px;
    border-radius: 15px;
    text-align: center;
    max-height: 50px;
}

.meme-gallery {
    background-color: var(--clr2);
    width: 1243px;
    border-radius: 10px;
    padding: 22px;
}

.item6 {
    display: flex;
    justify-content: space-between;
    width: 445px;

}

.btn9 {
    min-width: 213px;
    background-color: var(--clr13);
    border-radius: 15px;
    font-family: poppins-medium;
    color: var(--clr4);
    text-align: center;
    font-size: 1.3125rem;
    padding-top: 10px;
    max-height: 51px;
}

.btn10 {
    min-width: 213px;
    background-color: var(--clr14);
    border-radius: 15px;
    font-family: poppins-medium;
    color: var(--clr4);
    text-align: center;
    font-size: 1.3125rem;
    padding-top: 10px;
    max-height: 51px;
}
.main-header {
    width: 1243px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.main-header .page-nav {
    display: flex;
    justify-content: end;
    align-items: center;
}
  
.main-header .page-nav a {
    margin-inline-start: 20px;
    font-family: poppins-medium;
    color: var(--clr4);
    font-size: 1.3125rem;
    border-radius: 20px;
    padding: 0.6875rem;
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;
}

.main-header .page-nav {
    margin-inline-end: 220px;
}

.main-header .page-nav a:active {
    color: var(--clr5);
    background-color: var(--clr6);
}


.logo {
    font-family: poppins-medium;
    font-size: 1.375rem;
    color: var(--clr4);
    text-transform: uppercase;
    margin-inline-start: 5rem;
}

.meme-gallery .meme-search{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.meme-gallery .search {
    background-color: var(--clr7);
    border-radius: 29px;
    width: 514px;
    color: var(--clr6);
    font-size: 1.3125rem;
    padding-top: 1.28125rem;
    padding-bottom: 1.28125rem;
    padding-inline-start: 3.125rem;
    border: none;
    margin-block-end: 45px;
}

.meme-search .more {
    font-family: poppins-medium;
    font-size: 1.375rem;
    border-radius: 29px;
    padding: 1rem;
    border: none;
    color: var(--clr4);
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);

}

.meme-gallery .images>* {
    border-radius: 10px;
}

.meme-gallery .key-words {
    width: 536px;
    height: 65px;
    background-color: var(--clr8);
    border-radius: 29px;
}

.main-footer {
    width: 1243px;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.main-footer span {
    color: var(--clr4);
    font-family: poppins-medium;
    font-size: 1.3rem
}
