@media (min-width: 300px) {
    .main-layout {
        width: 100%;
        height: 100%;
    }

    .meme-editor {
        flex-direction: column;
    }

    .canvas-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-block-end: 1rem;
    }

    .main-header {
        padding: 1.2rem;
        margin-block-end: 1rem;
    }
    
    .main-header .page-nav {
        margin-inline-end: 100px;
    }

    .meme-gallery .meme-filter {
        margin-block-end: 10px;
        flex-direction: column;
    }
    
    .meme-gallery .meme-filter .filter {
        display: flex;
    }

    .meme-gallery .search {
        margin-block-end: 0.5rem;
        margin-inline-end: 0.5rem;
        width: 100%;
    }

    .meme-gallery .meme-filter .key-words {
        margin-inline-end: 0.5rem;
        width: 100%;
        height: 56px;
    }

    .meme-filter .more {
        width: 150px;
        max-height: 56px;
    }

    .images-wrapper { 
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}


@media (min-width: 1024px) {
    .main-container {
        padding-top: 20px;
        height: 50%;
    }
    .main-layout {
        max-width: 1024px;
       
    }

    .main-header {
        border-radius: 40px;
        margin-bottom: 1rem;
    }

    .logo {
        margin-inline-start: 5rem;
    }
    
    .main-header .page-nav {
        margin-inline-end: 220px;
    }

    .meme-gallery .meme-filter {
        margin-block-end: 10px;
        flex-direction: row;
    }

    .meme-gallery .meme-filter .key-words {
        width: 400px;
        height: 56px;
    }

    .meme-gallery {
        border-radius: 10px;
    }
    
    .images-wrapper { 
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 1fr;
        gap: 20px;
    }

    .meme-editor {
        flex-direction: row;
    }
}