* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr1);
    height: 100vh;
}
canvas {
    outline: 3px solid;
    border-radius: 20px;
    width: 350px;
    height: 350px;
}

a {
    text-decoration: none;
}

h3 {
    font-family: poppins-medium;
    font-size: 1rem;
    color: var(--clr10)
}

img {
    width: 100%;
}

footer {
    margin:0;
}