:root {
    --clr1: #22252c;
    --clr2: #383b42;
    --clr3: #5970c1;
    --clr4: #ffffff;
    --clr5: #21ac91;
    --clr6: #fefefe;
    --clr7: #22252c;
    --clr8: #939393;
    --clr9: #ebeef3;
    --clr10: #ebeef3;
    --clr11: #ebeef327;
    --clr12: #3d3d3d;
    --clr13: #1e7cd3;
    --clr14: #8f44bb;
    --clr15: #19a59f;
}